:root{
	--mainColor:#342E37;
	--secondaryColor:#8E1533;

	--borderColor:#b7ac44;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:#6a1125;
	--previewShadow:#761328;


	--buttonColor:#b7ac44;


}