<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Nathan's site</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-47692315-56');
        </script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
        <link id="theme-style" rel="stylesheet" type="text/css" href="">
    </head>
    <body style="background-color: var(--secondaryColor);">

        {% include 'web/navbar.html' %}

        {% block content %}
        <!--content here-->
        {% endblock content %}
        
        <script type="text/javascript">
            let static = "{% static 'css' %}"
        </script>
    
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>
</html>